 *
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


li {
  float: left;
}

ul li{
  margin-left: 20px;
}


ul li:first-child{
  margin-right: auto;
}


li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
  color: white;
}
  ul li p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  }
  
  ul li p:hover{
    background-color: black;
    color: white;
  }


  body {
  background-image: url(images/webi.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
}

.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-container {
    background: transparent;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px orange;
    width: 350px;
    margin-bottom: 250px;
  

}

.form-login h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.form-login input {
    width: 93%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.form-login button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    border: none;
    background-color: orange;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.form-login button:hover {
    background-color: black;
}

.form-login p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: white;
}

.form-login a {
    color: orange;
    text-decoration: none;
}

.form-login a:hover {
    text-decoration: underline;
}
    