*
body {
  background-image: url(images/webi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* overflow: hidden;*/
} 

li {
  float: left;
}

li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 8px 16px; 
  text-decoration: none;
  
}

li a:hover {
  background-color: black;
  color: white;
}
   ul li p {
  
    margin-right: 1000px;
    margin-left: 10px;
    font-size: 20px;
    font-weight:  bold;
    color: whitesmoke;

  } 


  ul li p:hover{
    background-color: black;
    color: white;
}

h2{
    color: white;
    text-align: center;
}


.filter-sidebar {
    position: fixed;
    width: 280px;
    float: left;         
    font-family: Arial, sans-serif;
    color: white;
}


.filter-section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 12px;
}


.filter-header {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}


.filter-header .icon {
    font-size: 18px;
    cursor: pointer;
}


.filter-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.filter-list li {
    font-size: 14px;
    padding: 6px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.filter-list input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.card1-group{
    display: flex;
    justify-content: flex-start;
    margin-left: 300px; 
    border-radius: 5px 5px 5px 5px; 

}



 .card{
     float: right;
     width: 20%;  
     box-shadow: 2px 2px 20px black;
     border-radius: 5px 5px 5px 5px; 
     margin: 3%;
     padding-right: 1px;
  
} 


.image{
  display: flex;
  height: 230px;
  object-fit:cover;
}

.image img{
 width: 100%;
 border-radius: 5px;
 /* border-top-right-radius: 5px;
 border-top-left-radius: 5px; */
}

.title{
    color: white;
    font-size: 10px;
}

.des{
  color: white;
}

.size-options {
    margin: 10px 0;
    display: flex;
    gap: 8px;
    
}

.size-btn {
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    font-size: 11px;
}

.size-btn.active,
.size-btn:hover {
    background: black;
    color: white;
    
}


.description {
    font-size: 14px;
    color: #444;
}


.rating {
    margin: 10px 0;
    font-size: 16px;
    color: #aaa;
}


.add-to-bag {
    width: 100%;
    padding: 14px;
    border: 1px solid black;
    background: white;
    cursor: pointer;
    letter-spacing: 1px;
}

.add-to-bag:hover {
    background: black;
    color: white;
}



